.main-block {
  margin-top: 10px;

  &__content {
    border: 1px solid #dee2e6;
    border-top: none;
    padding: 15px;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
  }
}